
{% extends "base.html" %}

{% block content %}
<div class="col-sm-3"></div>
<div class="col-sm-6">
<h2>Welcome to Degree Planner!</h2><br/>

{% if registered %}
<strong>Thank you for Signing Up!</strong>
Please click <a href="/degreeplan/login">here</a> to log in.<br />
{% else %}
<div class="container">
  <div class="row">
  	<div class="col-md-6">
    
          <form class="form-horizontal" id="user_form" method="post" action="/degreeplan/signup/" enctype="multipart/form-data"> {% csrf_token %}
          <fieldset>
            <div id="legend">
              <legend class="">Register</legend>
            </div>
            <div class="control-group">
              <label class="control-label" for="{{ user_form.username.id_for_label }}">Username</label>
              <div class="controls">
                <input id="id_username" maxlength="150" name="username" type="text" required placeholder="" class="form-control input-lg"/>
                <p class="help-block">Username is required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</p>
              </div>
            </div>
         
            <div class="control-group">
              <label class="control-label" for="{{ user_form.email.id_for_label }}">E-mail</label>
              <div class="controls">
                <input id="id_email" maxlength="254" name="email" type="email" placeholder="" class="form-control input-lg"/>
                <p class="help-block">Please provide your E-mail</p>
              </div>
            </div>
    
         
           <div class="control-group">
              <label class="control-label" for="{{ user_form.first_name.id_for_label }}">First Name</label>
              <div class="controls">
                <input id="id_first_name" maxlength="30" name="first_name" type="text" placeholder="" class="form-control input-lg">
              </div>
            </div>
         
         	<div class="control-group">
              <label class="control-label" for="{{ user_form.last_name.id_for_label }}">Last Name</label>
              <div class="controls">
                <input id="id_last_name" maxlength="30" name="last_name" type="text" placeholder="" class="form-control input-lg">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="{{ profile_form.program_of_study.id_for_label }}">Program of Study</label>
              <div class="controls">
                {{ profile_form.program_of_study}}
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="{{ user_form.password.id_for_label }}">Password</label>
              <div class="controls">
                <input type="password" id="password" name="password" placeholder="" class="form-control input-lg">
                <p class="help-block">Password should be at least 6 characters</p>
              </div>
            </div>
         
            <div class="control-group">
              <!-- Button -->
              <div class="controls">
              <input type="submit" name="submit" class="btn btn-success" value="Register" />
               
              </div>
            </div>
          </fieldset>
          </form>
    
    </div> 
  </div>
</div>
{% endif %}

</div>
<div class="col-sm-3"></div>

{% endblock content %}

